BOT_TOKEN=8405546234:AAHwIx4gxRxtc-erFp7tckvNLNRlNQjYFV8
ADMIN_IDS=123456789
ADMIN_CHAT_ID=-1001234567890
PUBLISH_CHAT_ID=-1001234567890
MONGO_URI=mongodb://mongo:PbUsRTHTsTtvIGavTgKUogwmsSiFTnVK@acela.proxy.rlwy.net:24829
MONGO_DB_NAME=fariks_aloqa_bot
REAPPLY_DAYS=7
