BOT_TOKEN=8405546234:AAHwIx4gxRxtc-erFp7tckvNLNRlNQjYFV8
ADMIN_IDS=7903688837
ADMIN_CHAT_ID=-1001234567890
PUBLISH_CHAT_ID=-1001234567890
DB_FILE=bot.db
EXCEL_FILE=applications.xlsx
REQUIRED_CHANNEL=@fariks01
REQUIRED_CHANNEL_URL=https://t.me/fariks01
WEBHOOK_URL=
WEBHOOK_PATH=telegram
PORT=8080
